<h1 class="text-center">The Very Hungry Hippo</h1>

<p class="text-center">This poor hippo is hungry. Use the form below to ADD FOOD to his menu. Click on the EAT IT button next to one of the food items you would like him to eat. </p>

<form class="create-form text-center">

  <div class="form-group">
    <label for="ca">Hippo Name:</label>
    <input type="text" id="ca" name="food-name">
  </div>

  <button type="submit">ADD FOOD</button>
</form>


<h2>Hugry Hippo Menu</h2>



<h2>Digested Food</h2>



<div class="row text-center">
  <div class="col-6">

    <ul>
      {{#each hippos}}
      {{#unless devoured}}
      {{> hippos/hippo-block devoured=true}}
      <button class="change-devoured" data-id="{{id}}" data-newfood="{{devoured}}">
        {{#if devoured}}LUNCH TIME!{{else}}EAT ME!{{/if}}
      </button>
      {{/unless}}
      {{/each}}
    </ul>

  </div>

  <div class="col-6">
    <ul>
      {{#each hippos}}
      {{#if devoured}}
      {{> hippos/hippo-block devoured=false}}
      {{/if}}
      {{/each}}
    </ul>

  </div>
</div>
</div>