
<div class="container">
<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-3">
      <img src="assets/images/hippo-clipart-hippo-outline-7.png">
    </div>

    <div class="col-5">
      <h1>The Very Hungry Hippo</h1>
    </div>
    <div class="col-2"></div>
  </div>
</div>


<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <p class="text-center mt-3">This poor hippo is hungry. Use
the form below to ADD FOOD to his menu. Click on the EAT IT button
next to one of the food items you would like him to eat. </p>
    </div>
    <div class="col-3"></div>
  </div>
</div>

<form class="create-form text-center">

  <div class="form-group">
    <input type="text" id="ca" name="food-name">
    <button type="submit" class="btn btn-outline-dark">ADD FOOD</button>
  </div>

  
</form>

<div class="container">
<div class="text-center">
  <div class="row">
    <div class="col-6">
      <h2>Hugry Hippo Menu</h2>
      <div>
        {{#each hippos}}
        {{#unless devoured}}
        {{> hippos/hippo-block devoured=true}}
        <button class="change-devoured" data-id="{{id}}" data-newfood="{{devoured}}">
          {{#if devoured}}LUNCH TIME!{{else}}EAT ME!{{/if}}
        </button>
        {{/unless}}
        {{/each}}
      </div>

    </div>
    <div class="col-6">
      <h2>Digested Food</h2>
      <div>
        {{#each hippos}}
        {{#if devoured}}
        {{> hippos/hippo-block devoured=false}}
        {{/if}}
        {{/each}}
      </div>
</div>
    </div>
  </div>
</div>
</div>
</div>