body {
    background-color: red;
    background-image: url("../images/images.jpg");
}

h1, h2 {

    font-family: 'Anton', sans-serif;
}

h2 {
text-decoration: underline;
}

img {
    width: 200px;
    height: auto;
}